@font-face {
  font-family: Fontin;
  src: url(../Fontin.otf);
}

@font-face {
  font-family: Fontin;
  src: url(../Fontin-Bold.otf);
  font-weight: bold;
}

/* browser only supports faked small caps
    so add smallcaps variant under another name
*/
@font-face {
  font-family: "Fontin Small Caps";
  src: url(../Fontin-SmallCaps.otf);
}

@mixin smallcaps {
  font-family: "Fontin Small Caps", serif;
}

.smalltext {
  font-size: 9pt;
  padding-bottom: 2px;
}

.clear {
  clear: both;
}

a,
a:visited {
  color: #4078C0;
}

.nowrap {
  display: inline-block;
  white-space: nowrap;
}

p {
  margin: 0;
}

p + p {
  margin-top: 2mm;
}


body {
  max-width: 11in;
  margin-left: auto;
  margin-right: auto;

  margin-top: 0.5in;

  font-size: 11pt;
  font-family: FontIn, serif;
}

h1 {
  font-size: 24pt;
  text-align: center;

  font-weight: normal;

  margin-top: 0.5cm;
  margin-bottom: 0.25cm;
}

h2 {
  @include smallcaps;

  padding-bottom: 1px;
  border-bottom: #000 1px solid;
  font-weight: normal;
  font-size: 17.28pt;
}

.pdf-wrapper, .pdf-wrapper:link, .pdf-wrapper:visited {
  position: fixed;
  top: 0;
  right: 10%;
  //border-bottom: 1px solid black;
  border: 1px solid black;
  border-top: 0;
  padding: 5px;
  border-radius: 0px 0px 5px 5px;
  font-weight: bold;
  background: #141730;
  color: white;
  cursor: pointer;
  outline: inherit;
  font-family: FontIn, serif;
  text-decoration: none;
}

.bio {
  text-align: center;
  font-size: 95%;
  margin-bottom: -5mm;
}
.contact-wrapper {
  display: flex;
  width: 100%;
}
.contact {
  float: left;
  flex-grow: 1;
  width: 50%;
}

div.bigtable {
  margin: auto;
  width: 95%;
  font-size: 16px;

  >.role {
    display: block;
    > .role-contents {
      display: flex;
      margin-bottom: 3mm;

      > .yearcol {
        min-width: 1cm;
        width: 1.8cm;
        word-wrap: break-word;
        max-width: 5cm;
        text-align: right;
        padding-right: 5px;
        vertical-align: top;

        flex-shrink: 0;

      }

      > .details {
        flex-grow: 1;

        > .jobline {
          display: flex;
          width: 100%;
          .jobname {
            @include smallcaps;
            //flex-grow: 1;
          }

          .jobclient {
            text-align: left;

            font-size: 90%;
            &:before {
              margin-left: 0.5cm;
              content: '-';
              display: inline;
            }
          }

          .joburl {
            flex-grow: 1;
            text-align: right;
          }
        }

        > .description {
          @extend .smalltext;
        }
      }

    }
  }
}


table.bigtable {
    margin: auto;
    width: 95%;

  .yearcol {
    min-width: 1cm;
    width: 3cm;
    word-wrap: break-word;
    max-width: 3cm;
    text-align: right;
    padding-right: 5px;
    vertical-align: top;
  }

  td {
    padding: 0px;
  }


  .details td:first-child {
    text-align: right;
    padding-right: 20px;
    font-family: FontIn Small Caps;
  }

}

ul.modules {
  padding: 0;
  margin: 0;
}

ul.modules li {
  display: inline-block;
  font-size: 9pt;
}

/* inline block gets rid of bullets, re-add them */
ul.modules li:before {
  content: "\2022";
}


@media print, screen and (max-width: 800px) {

  .role {
    -webkit-column-break-inside: avoid;
    page-break-inside: avoid;
    break-inside: avoid;
  }

  body {
    width: 100%;
    margin: 0;
    font-size: 12pt;
  }
  .yearcol {
    width: 1.5cm;
    max-width: 1cm;
  }

  .nowrap {

  }
  h1 {
    margin-top: 2mm;
    margin-bottom: 2.5mm;
    font-size: 17.28pt;
  }

  h2 {
    //margin: 0;
    font-size: 14pt;
  }

  .details {
    font-size: 9.5pt;
  }
}