@font-face {
  font-family: Fontin;
  src: url(../Fontin.otf); }

@font-face {
  font-family: Fontin;
  src: url(../Fontin-Bold.otf);
  font-weight: bold; }

/* browser only supports faked small caps
    so add smallcaps variant under another name
*/
@font-face {
  font-family: "Fontin Small Caps";
  src: url(../Fontin-SmallCaps.otf); }

.smalltext, div.bigtable > .role > .role-contents > .details > .description {
  font-size: 9pt;
  padding-bottom: 2px; }

a,
a:visited {
  color: #4078C0; }

.nowrap {
  display: inline-block;
  white-space: nowrap; }

p {
  margin: 0; }

p + p {
  margin-top: 2mm; }

body {
  max-width: 11in;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0.5in;
  font-size: 12pt;
  font-family: FontIn, serif; }

h1 {
  font-size: 24pt;
  text-align: center;
  font-weight: normal;
  margin-top: 0.5cm;
  margin-bottom: 0.25cm; }

h2 {
  font-family: "Fontin Small Caps", serif;
  padding-bottom: 1px;
  border-bottom: #000 1px solid;
  font-weight: normal;
  font-size: 17.28pt; }

.bio {
  text-align: center;
  margin-bottom: -5mm; }

div.bigtable {
  margin: auto;
  width: 95%;
  font-size: 16px; }
  div.bigtable > .role {
    display: block; }
    div.bigtable > .role > .role-contents {
      display: flex;
      margin-bottom: 3mm; }
      div.bigtable > .role > .role-contents > .yearcol {
        min-width: 1cm;
        width: 1.8cm;
        word-wrap: break-word;
        max-width: 5cm;
        text-align: right;
        padding-right: 5px;
        vertical-align: top;
        flex-shrink: 0; }
      div.bigtable > .role > .role-contents > .details {
        flex-grow: 1; }
        div.bigtable > .role > .role-contents > .details > .jobline {
          display: flex;
          width: 100%; }
          div.bigtable > .role > .role-contents > .details > .jobline .jobname {
            font-family: "Fontin Small Caps", serif; }
          div.bigtable > .role > .role-contents > .details > .jobline .jobclient {
            text-align: left;
            font-size: 90%; }
            div.bigtable > .role > .role-contents > .details > .jobline .jobclient:before {
              margin-left: 0.5cm;
              content: '-';
              display: inline; }
          div.bigtable > .role > .role-contents > .details > .jobline .joburl {
            flex-grow: 1;
            text-align: right; }

table.bigtable {
  margin: auto;
  width: 95%; }
  table.bigtable .yearcol {
    min-width: 1cm;
    width: 3cm;
    word-wrap: break-word;
    max-width: 3cm;
    text-align: right;
    padding-right: 5px;
    vertical-align: top; }
  table.bigtable td {
    padding: 0px; }
  table.bigtable .details td:first-child {
    text-align: right;
    padding-right: 20px;
    font-family: FontIn Small Caps; }

ul.modules {
  padding: 0;
  margin: 0; }

ul.modules li {
  display: inline-block;
  font-size: 9pt; }

/* inline block gets rid of bullets, re-add them */
ul.modules li:before {
  content: "\2022"; }

@media print, screen and (max-width: 800px) {
  .role {
    -webkit-column-break-inside: avoid;
    page-break-inside: avoid;
    break-inside: avoid; }
  body {
    width: 100%;
    margin: 0;
    font-size: 12pt; }
  .yearcol {
    width: 1.5cm;
    max-width: 1cm; }
  h1 {
    margin-top: 2mm;
    margin-bottom: 2.5mm;
    font-size: 17.28pt; }
  h2 {
    font-size: 14pt; }
  .details {
    font-size: 9.5pt; } }

/*# sourceMappingURL=style.css.map */